<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniStore</title>
    <link rel="icon" type="image/x-icon" href="img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/form-styles.css">
    <link rel="stylesheet" href="css/login_cadastro.css">
    <link rel="stylesheet" href="css/global.css">
</head>
<body>
    <%-include ('../partial/headersimple.ejs') %>
        <main>
            <div class="top"><a href="/usuario"><img src="img/seta-esquerda.png" alt=""><p>Voltar</p></a></div>
            
                    <form action="/editar" method="post">
                    <div class="container">
                        <div class="divisor">
                        <div class="one">
                        <label for="nu">Nome de Usuario</label>
                        <input type="text" value="<%= usuario[0].nome_usu%>" name="nu" id="nu">
                        <label for="email">Email</label>
                        <input type="text" value="<%= usuario[0].email%>" name="email" id="email">
                        <label for="celular">Celular</label>
                        <input type="text" value="<%= usuario[0].celular%>" class="telefone" name="celular" id="celular">
                        </div>
                        <div class="two">
                        <label for="rua">Rua</label>
                        <input type="text" name="rua" value="<%= usuario[0].rua%>" id="rua">
                        <label for="cidade">Cidade</label>
                        <Select id="cidade" name="cidade">
                        <option value="barueri">Barueri</option>
                        <option value="osasco">Osasco</option>
                        <option value="santana de parnaiba">Santana de Parnaiba</option>
                        <option value="carapicuiba">Carapicuiba</option>
                        <option value="carapicuiba">Carapicuiba</option>
                        <option value="jandira">Jandira</option>
                        <option value="itapevi">Itapevi</option>
                        </Select>
                        <div class="wrap">
                            <div>
                            <label for="CEP ">CEP</label>
                            <input type="text" name="cep" value="<%= usuario[0].cep %>" id="CEP" class="w50 cep">
                            </div>
                            <div>
                            <label for="numero w50">Numero</label>
                            <input type="text" name="numero" value="<%= usuario[0].numero%>" id="numero" class="w50">
                            </div>
                            </div>
                        <label for="bairro">Bairro</label>
                        <input type="text" name="bairo" value="<%= usuario[0].bairo%>"id="bairro">
                        </div>
                    </div>
                    </div>
                        <input type="submit"  value="Salvar alterações">
                        </form>
                </div>
            </div>
    </main>











    <footer>
        <div class="container">
          <ul>
            <li><h3>UniStore</h3></li>
            <li><h3>Quem Somos</h3></li>
            <li><h3>Politica de Privacidade</h3></li>
          </ul>
          <div class="social">
            <img src="img/instagram.png" alt="">
            <img src="img/facebook-app-symbol.png" alt="">
            <img src="img/twitter.png" alt="">
          </div>
        </div>
      </footer>
      
      
      
      
      
      
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="js/jquery.mask.min.js"></script>
      <script src="js/mascaraForms.js"></script>
      <script src="js/menu.js"></script>
      </body>
      </html>