<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/pedido.css">
    <link rel="preconnect" href="css/https://fonts.googleapis.com">
    <link rel="preconnect" href="css/https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <title>Document</title>
</head>
<body>

  <%-include('../partial/header.ejs')%>
    <main id="Caixas">

        <section id="Quadrado">
          <div class="texto">
            <h3>Endereço de entrega:</h3>
            <span><b><%= dadosUsu[0].rua %>, N° <%= dadosUsu[0].numero %>, <%= dadosUsu[0].bairo %></b></span>
            <span><b>(<%= dadosUsu[0].cep %>)</b></span>
          </div>
          <button>
            Editar
          </button>
        </section>

      
        <section id="Retangulo">
          <h1>Método de Pagamento:</h1>
          <div><input type="radio" id="Dinheiro" name="Pagamento" value="Dinheiro"><label for="Dinheiro">Dinheiro (pago na entrega do produto)</label></div>
          <div><input type="radio" id="Boleto Bancário" name="Pagamento" value="Boleto Bancário"><label for="Boleto Bancário">Boleto Bancário</label></div>
          <div><input type="radio" id="Pix" name="Pagamento" value="Pix"><label for="Pix">Pix</label></div>
          <span id="Preço"><button class="FP">Finalizar Pedido</button></span>
        </section>

       <div class="box-msg">
         <h3>Pedido enviado para o vendedor(ra) <br> Logo ira te retornar!</h3>

        <a href="/itens">Voltar as Compras!</a>
       </div>
      
    </main>

    <footer>
        <div class="container">
          <ul>
            <li><h3>UniStore</h3></li>
            <li><h3>Quem Somos</h3></li>
            <li><h3>Politica de Privacidade</h3></li>
          </ul>
          <div class="social">
            <img src="img/instagram.png" alt="">
            <img src="img/facebook-app-symbol.png" alt="">
            <img src="img/twitter.png" alt="">
          </div>
        </div>
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="js/slick.min.js"></script>
      <script src="js/slide.js"></script>
      <script src="js/menu.js"></script>
      <script>
        $('.FP').click(function(){
          $('.box-msg').fadeToggle()
        })
      </script>
</body>
</html>