<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UniStore</title>
    <link rel="icon" type="image/x-icon" href="img/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/produto.css">
    <link rel="stylesheet" href="/css/global.css">
    
</head>

<%-include('../partial/header.ejs')%>
<div class="barra-pesquisa-mobile"><input type="text"><img src="/img/procurar.png" alt=""></div>
<body>
    <main>
        <div class="top"><a href="/"><img src="/img/seta-esquerda.png" alt=""><p>Voltar</p></a></div>

        

        <section class="info_produto">
            <div class="img-produto"><img src="" alt=""></div>

            <div class="sub_info">
                <h2><%= info[0].titulo %></h2>
                <div class="wrap">
                    <p>R$<%= info[0].valor %>,00</p>
                    <a href="">adicionar ao carrinho</a>
                </div>
            </div>
        </section>

        <section class="detalhes">
            <h3>Detalhes do produto:</h3>
            <p>Anunciante: <%=info[0].nome_usu%></p>
            <p>Contato: <%=info[0].celular%></p>
            <p>Tamanho: <%= info[0].tamanho %></p>
            <p>Cor: <%= info[0].cor %></p>
            <p>Condição: <%= info[0].condicao %></p>
            
            <h3>Descrição:</h3>
            <p><%= info[0].descricao %></p>
            
        </section>


<!-- Slider abaixo -->

<section class="more-products">
    <div class="container1">
        <h2>Você também pode gostar:</h2>
        </div>
 
            <div class="slide-itens">
                <div class="box-produto">
                  <div class="img-box"></div>
                  <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                  <span class="preco">R$15,00</span>
                </div>
                <div class="box-produto">
                  <div class="img-box"></div>
                  <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                  <span class="preco">R$16,00</span>
                </div>
                <div class="box-produto">
                  <div class="img-box"></div>
                  <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                  <span class="preco">R$17,00</span>
                </div>
                <div class="box-produto">
                  <div class="img-box"></div>
                  <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                  <span class="preco">R$18,00</span>
                </div>
                <div class="box-produto">
                  <div class="img-box"></div>
                  <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                  <span class="preco">R$19,00</span>
                </div>
                <div class="box-produto">
                    <div class="img-box"></div>
                    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                    <span class="preco">R$11,00</span>
                  </div>
                  <div class="box-produto">
                    <div class="img-box"></div>
                    <p class="descricao">Shorts masculino ITB, Tamanho G, Usado</p>
                    <span class="preco">R$12,00</span>
                  </div>
            </div>
</section>


    </main>

    <footer>
      <div class="container">
        <ul>
          <li><h3>UniStore</h3></li>
          <li><h3>Quem Somos</h3></li>
          <li><h3>Politica de Privacidade</h3></li>
        </ul>
        <div class="social">
          <img src="/img/instagram.png" alt="">
          <img src="/img/facebook-app-symbol.png" alt="">
          <img src="/img/twitter.png" alt="">
        </div>
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/slide.js"></script>
</body>
</html>